* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-body;
    background: transparent;
    border: none;
    outline: none;
}

html {
    scroll-behavior: smooth;

    .fslightbox-open body {
        overflow-y: hidden;
    }
}

a {
    text-decoration: none;
    color: initial;
}

ul {
    list-style: none;
}

img {
    width: 100%;
    user-select: none;
}

body {
    overflow-x: hidden;

    &.popup-open {
        overflow-y: hidden !important;
    }
}

.container {
    margin: 0 auto;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;

    @include breakpoint-min(sm) {
        max-width: 750px;
    }

    @include breakpoint-min(md) {
        max-width: 970px;
    }

    @include breakpoint-min(lg) {
        max-width: 1170px;
    }

    @include breakpoint-min(xxl) {
        max-width: 1250px;
        padding-left: 0;
        padding-right: 0;
    }

    @include breakpoint-min(3xl) {
        max-width: 1520px;
    }

    @include breakpoint-min(4xl) {
        max-width: 1820px;
    }
}

.swiper {
    width: 100%;
    height: 100%;
}

p,
li,
span {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fslightbox-toolbar-button:first-child {
    display: none !important;
}

.splide__list,
.splide_slide {
    visibility: visible;
}

button {
    cursor: pointer;
}

.swiper-wrapper {
    cursor: grab;
    user-select: none;
}
